@page "/leavetypes/"

<h3>LeaveTypes</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="CreateLeaveType" class="btn btn-success">Add Leave Type</button>
</div>

@Message

@if (LeaveTypes is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Default Days</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leaveType in LeaveTypes)
            {
                <tr>
                    <td>@PageId</td>
                    <td>@leaveType.Name</td>
                    <td>@leaveType.DefaultDays</td>
                    <td>
                        <button @onclick=@(() => AllocateLeaveType(leaveType.Id)) class="btn btn-dark">Allocate Leave</button>
                        <button @onclick=@(() => DetailLeaveType(leaveType.Id)) class="btn btn-info">Details</button>
                        <button @onclick=@(() => EditLeaveType(leaveType.Id)) class="btn btn-warning">Edit</button>
                        <button @onclick=@(() => DeleteLeaveType(leaveType.Id)) class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody> 
    </table>
}
else
{
    <p>Loading data...</p>   
}